<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<a href="create_some" class="badge badge-primary">create post</a>

<ul>

    {% for object in object_list %}


    <li>{{ object.title }}</li>
    <li>{{ object.description }}</li>

<!--    <p>{{ object }} - <a href='{{object.id}}/'>{{ object}}</a></p>-->
    <a href="{{object.pk}}" class="badge badge-primary"> Datail</a>
        <a href="{{object.id}}/update" class="badge badge-primary"> Update </a>
            <a href="{{object.id}}/delete" class="badge badge-primary"> Delete </a>



    <hr/>
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</ul>

</body>
</html>